*,
::after,
::before {
    box-sizing: border-box;
    column-span: all;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
}

h3,
p,
li {
    font-size: 1rem;
}

@media (min-width: 500px) {
    h3,
    p,
    li {
        font-size: 1.4rem;
    }
}

p,
li {
    line-height: 1.33;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 19vw;
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1;
    margin-top: 0;
}

@media (min-width: 400px) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 6.1rem;
    }
}

.small {
    opacity: 0.6;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    display: block;
}

h2,
h3 {
    color: #181818;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
}

ul {
    margin-top: 0;
    padding-left: 0;
}

li {
    background-image: url(circle.svg);
    background-repeat: no-repeat;
    background-position: 0.5em 0.45em;
    background-size: 0.385em;
    padding-left: 1.4em;
    margin-bottom: 1.1em;
    list-style: none;
}

a {
    color: rgb(172, 107, 92);
}

a:hover {
    color: rgb(209, 153, 140);
}

.all {
    overflow: hidden;
}

/* header */

.header {
    background-color: #0e0e0e;
    color: #ffffff;
    min-height: 100vh;
    background-image: url(img/k.jpg);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1000px) {
    .header {
        width: 30%;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
    }
}

.header p {
    text-shadow: 0 1px 4px rgba(72, 72, 72, 0.5);
    font-style: italic;
    font-size: 6vw;
    font-weight: 500;
}

@media (min-width: 400px) {
    .header p {
        font-size: 1.6rem;
    }
}

.headertext {
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (min-width: 400px) {
    .headertext {
        padding: 1.6rem;
    }
}

/* information */
@media (min-width: 1000px) {
    .box {
        float: left;
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.box-grey {
    background-color: #f4f4f6;
}

@media (min-width: 1000px) {
    .information {
        float: left;
        width: 70%;
        margin-left: 30%;
    }
}

.details {
    padding: 1.6rem;
    padding-bottom: 0;
}

@media (min-width: 1000px) {
    .details {
        float: left;
        width: 50%;
        padding-top: 4.4rem;
        padding-bottom: 4.4rem;
    }
}

.border::after {
    content: "";
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 100%;
    display: block;
}

.bar {
    color: black;
    background-color: rgb(244, 244, 246);
    margin-bottom: 1.25rem;
    position: relative;
    top: 0;
    left: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5;
    text-transform: uppercase;
}

.bar::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 107, 92);
    position: absolute;
    top: 0;
    left: 0;
}

.bar.none::before {
    width: 5%;
}

.bar.beginner::before {
    width: 15%;
}

.bar.advanced::before {
    width: 80%;
}

.bar::after {
    content: "&nbsp;";
    visibility: hidden;
}

.bar span {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.25rem;
}

.button {
    color: black;
    background-color: rgb(244, 244, 246);
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

/*Contact*/

.contact {
    font-size: 1rem;
}

@media (min-width: 500px) {
    .contact {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
}

.contact span,
.contact a {
    display: inline-block;
    vertical-align: top;
}

.contact span {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    width: 35%;
}

.contact a {
    width: 65%;
    text-align: right;
    font-weight: 400;
}

.links {
    margin-bottom: 3rem;
    font-size: 0;
}

.links a {
    font-size: 1rem;
    display: inline-block;
}

@media (min-width: 500px) {
    .links a {
        font-size: 1.4rem;
    }
}

.links a:nth-last-child(n + 2) {
    /*Pro všechny odkazy, kromě posledního*/
    background-image: url(circle.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 0.385em;
    padding-right: 1em;
    margin-right: 0.615em;
}
